/* PC */
@media (min-width:768px){
body{
    margin: 0;
    padding: 0;
    background-color: rgba(27, 34, 44, 1);
    font-family: Calistoga;
    width: 100%;
}
.menu{
    list-style: none;
    padding: 0;
    background: rgba(60, 69, 87, 1);
    width: 100%;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    display: block;
    font-size: 20px;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background-color: #555;
}
.imagenDieta{
    width: 100px;
}
.contenedor1{
    padding: 1%;
    display: flex;
}
.contenedor1 .planDieta{
  width: 100px;
  height: 25px;
  color: white;
  background: rgba(106, 103, 103, 1);
  padding: 10px;
  margin-top: 1.5%;
  margin-left: 2%;
  text-align: center;
  font-size: 20px;
}
.barraDias{
    width: 100%;
    background: rgba(35, 104, 134, 1);
    display: flex;
    color: white;
    height: 50px;
}
.lu{
    margin: 1% 6% 1% 5%;
}
.comidas, .comidasA, .comidasR, .comidasC{
    background: rgba(45, 169, 177, 1);
    display: flex;
    margin: 0;
    color: rgb(0, 0, 0);
    height: 50px;
    margin-top: 2px;
}
.com{
    margin-left: 2%;
}
.imDes{
margin-left: 42%;
}
.imAl, .imRe, .imCe{
    display: none;
}
table{
    overflow-x: scroll ;
    color: white;
    font-size: 15px;
}
table,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: white;
}
td{
    padding: 25px;
}
.logo{
    width: 120px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.tabla-celular{
    display: none;
  }
footer{
    background-color: #555;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .F-texto, .Redes {
    flex: 1; 
    text-align: center;
    font-size: 20px;
  }
  .Redes img {
    width: 30px;
    margin: 0 10px; 
  }
}

/* CELULAR */  
 @media (max-width:768px){
    body{
        margin: 0;
        padding: 0;
        background-color: rgba(27, 34, 44, 1);
        font-family: Calistoga;
        width: 100%;
    }
    .menu{
        list-style: none;
        padding: 0;
        background: rgba(60, 69, 87, 1);
        width: 100%;
        margin: auto;
    }
    .menu li a{
        text-decoration: none;
        color: white;
        padding: 30px;
        display: block;
        font-size: 20px;
    }
    .menu li{
        display: inline-block;
        text-align: center;
    }
    .menu li a:hover{
        background-color: #555;
    }
    .imagenDieta{
        width: 80px;
    }
    .contenedor1{
        padding: 1%;
        display: flex;
    }
    .barraDias{
        width: 75px;
        background: rgba(35, 104, 134, 1);
        color: white;
        height: 700px;
    }
    .lu{
        margin: 70% 6% 50% 6%;
        padding-top: 30px;
    }
    .comidas{
        background: rgba(45, 169, 177, 1);
        display: flex;
        margin: 0;
        color: rgb(0, 0, 0);
        height: 50px;
        margin-top: -750px;
    }
    .comidasA, .comidasR, .comidasC{
        display: none;
    }
    .com{
        display: none;
    }
    .imDes{
    margin-left: 20%;
    }
    .imAl{
        margin-left: 13%;
    }
    .imRe, .imCe{
        margin-left: 11%;
    }
    table{
        display: none;
    }
    .tabla-celular{
        margin-left: 16%;
        display: block;
    }
    .tabla-celular .fila .columna{
        display: flex;
    }
    .tabla-celular .fila .columna .contenido{
        border: 1px solid black;
        border-bottom: none;
        padding: 4.5%;
        padding-bottom: 15%;
        color: white;
    }
    .logo{
        width: 80px;
        float: right;
        margin-right: 20px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .contenedor1 .planDieta{
        width: 80px;
        height: 25px;
        color: white;
        background: rgba(106, 103, 103, 1);
        padding: 10px;
        margin-top: 3%;
        margin-left: 2%;
        text-align: center;
        font-size: 15px;
      }
      footer {
        background-color: #555;
        color: white;
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: relative;
        bottom: 0;
        width: 100%;
      }
      .F-texto, .Redes {
        flex: 1; 
        text-align: center;
        font-size: 15px;
      }
      .Redes img {
        width: 30px;
        margin: 0 10px; 
      }
 }